*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#c8d0e8;
}

.sidebar{
    position: fixed;
    left:0;
    top:0;
    width:260px;
    height:100vh;
    background:#fff;
    box-shadow:2px 0 15px rgba(0, 0, 0, 0.1);
    padding:25px 18px;
}
.sidebar img{
    width:200px;
    height: auto;
    display:block;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.logo img{
    width:180px;
    height:auto;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    padding:16px 20px;
    margin-left: 10px;
    margin-bottom: 12px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:15px;
    font-weight: 600;
    color:#0f0f0f;
    transition:0.3s;
}
.sidebar ul li i{
    width:20px;
    font-size:18px;
}
.sidebar ul li:hover{
    background: #093329;
    color:white;
}
.active{
    background:#c0c1c1;
    color:white;
    box-shadow: 0 10px 25px rbga(11, 143, 117, 0.3);
}
.main{
    margin-left: 260px;
    padding:30px;
    background:#f4f7fc;
    min-height:100vh;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 40px;
}
.header h1{
    font-size: 42px;
   color: #105443;
}
.header p{
    color:#3a3838;
    margin-top: 10px;
}
.icons{
    display:flex;
    gap:20px;
}
.icons i{
   width: 50px;
   height:50px;
   background:white;
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08) ;
   cursor:pointer;
}
.cards{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:25px;
}
.card{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.card i{
    font-size: 35px;
    color:#14a37f;
    margin-bottom: 20px;
}
.cards h3{
    color:#666;
    margin-bottom:20px;
}
.card h2{
   font-size: 42px;
   color:#1c2840;
}